@import url(../styles/colors.css);

.floating--label {
    position: relative;

    bottom: 60px;
    font-size: 11px;
    opacity: 1;
}

.form__input:focus {
    outline: none;
    border-bottom: 2px solid var(--orange);
}

.form__input:focus~.floating--label {
    color: var(--orange);
}

.form__input {
    display: inline-block;
    width: 50%;
    margin: 10px;
    font-size: 14px;
    width: 200px;
    height: 35px;
    border: 0px;
    border-bottom: 2px solid var(--gray);
}



.form__textarea {
    height: 100px;
    width: 100%;
}

.form__textarea:focus {
    outline: 2px solid var(--orange);
}

.form__input option {
    background-position: left 10px center;
    background-repeat: no-repeat;
    padding: 5px 10px;
}