@import url(../styles/colors.css);

.floating--label {
    position: relative;
    right: 90px;
    bottom: 20px;
    font-size: small;
}

.form__input:focus {
    outline: none;
    border-bottom: 2px solid var(--orange);
}

.form__input:focus ~ .floating--label {
    color: var(--orange);
}

.form__input {
    display: inline-block;
    margin: 10px;
    font-size: 14px;
    width: 150px;
    height: 35px;
    border: 0px;
    border-bottom: 2px solid var(--gray);
    margin-right: -5em;
}



.form__textarea {
    height: 100px;
    width: 100%;
}

.form__textarea:focus {
    outline: 2px solid var(--orange);
}

.form__input option {
    background-position: left 10px center;
    background-repeat: no-repeat;
    padding: 5px 10px;
}
.form__input--select{  display: inline-block;
margin: 10px;
font-size: 14px;
width: 100px;
height: 35px;
border: 0px;
border-bottom: 2px solid var(--gray);
margin-right: -5em;
}