@import url(../styles/colors.css);
menu{
    display: flex;
}
menu > li{
    list-style: none;
    margin: 0px 0px 0px 10px;
}
.tab{
    text-decoration: none;
    color: var(--gray-blue);
    font-weight: 700;
    padding: 5px;
    cursor: pointer;
    border-bottom: transparent solid 2px;
}
.tab:visited{
    background-color: var(--extra-light-orange);
    border-bottom: var(--orange) solid 2px;
    border-radius: 5px 5px 0px 0px;
}
.tab:hover{
    background-color: var(--lighter-orange);
    border-bottom: var(--orange) solid 2px;
    border-radius: 5px 5px 0px 0px;
}
.tab-content--hide {
    display: none;
  }
  
  .tab-content--active {
    display: block;
  }