#myPopup {
    display: none;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 100px;
    background-color: red;
    border: 2px solid darkred;
    padding: 10px;
  }
  
  #myPopup .close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: white;
  }