@import url(../styles/colors.css);

#myPopup {
    display: none;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 50px;
    background-color: var(--light-red);
    border: 2px solid var(--dark-red);
    padding: 10px;
    color: var(--dark-red);
    
  }
  
  #myPopup .close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: var(--red);
  }