.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {
  display: none;
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--gray);
  transition: .4s;
  border-radius: 34px;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: var(--white);
  transition: .4s;
  border-radius: 50%;
}

.switch input:checked + .slider {
  background-color: var(--light-green);
}

.switch input:checked + .slider:before {
  transform: translateX(16px);
  background-color: var(--green);
}

.switch .switch-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50px;
  font-size: 14px;
  color: var(--blue-gray);
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
}
