:root{
    --white: #fff;
    --black: #000;
    --light-black: 	rgba(0,0,0,0.2);
    --gray: #9b9b9b;
    --gray-blue: #253a5e;
    --green: #79b46f;
    --light-green: #b2d2ad;
    --orange: #da8352;
    --light-orange: #e5a886;
    --red: #f76461;
    --light-red: #fe9b99b1;
}