:root{
    --white: #fff;
    --black: #000;
    --light-black: 	#000002;
    --gray: #9b9b9b;
    --gray-blue: #253a5e;
    --green: #79b46f;
    --light-green: #b2d2ad;
    --orange: #da8352;
    --light-orange: #e5a886;
}